.toolbar {
    height: 15vh;
}

.toolbar-grid {
    margin-top: 2.5vh;
}

.menu-items {
    font-size: 1rem;
    font-weight: 450;
    padding-left: 3vw;
}

.product-title {
  font-weight: bold;
}

.menu-col {
    margin-top: 2vh;
    /* margin-left: 40vw; */
}

.toolbar-logo {
    width: auto;
    max-width: 60%;
    max-height: 10vh;
    height: auto;
    right: 5vw;
}

.hyperlink:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
    transition: all 0.1s ease-out;
}

.hyperlink {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .menu-col {
        margin-top: 1vh;
        margin-left: 0vw;
    }

    .toolbar-logo {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
}