<ion-toolbar class="toolbar">
    <ion-grid class="toolbar-grid">
      <ion-row class="ion-padding-horizontal">
        <ion-col size="2">
          <img class="toolbar-logo" src="/assets/icon/favicon.png">
        </ion-col>
        <ion-col class="menu-col ion-text-end">
          <ion-label class="menu-items" color="primary">
            <a class="hyperlink" href="/">Home</a>
          </ion-label>
          <ion-label class="menu-items" color="primary">
            <a class="hyperlink" href="/catalogo">Catálogo</a>
          </ion-label>
          <ion-label class="menu-items" color="primary">
            <a class="hyperlink" href="/home#contato">Contato</a>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-toolbar>
