<ion-content>
  <div *ngIf="exibicaoAtual === 'listagemProdutos'">
    <ion-row class="page-title">
      <ion-col>
        <ion-icon class="menu-button" name="menu-outline" color="primary" (click)="openMenu()"></ion-icon>
        <ion-label>Produtos</ion-label>
      </ion-col>
      <ion-col class="add-button-grid">
        <ion-button color="secondary" class="add-button" (click)="goToNewProductPage()">Adicionar novo</ion-button>
      </ion-col>
    </ion-row>

  
    <ion-grid class="grid">
      <ion-row>
        <ion-col class="ion-text-center" size="2">
          <ion-label >Cód.</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label class="product-label">Nome do produto</ion-label>
        </ion-col>
        <ion-col class="ion-text-center" size="2">
          <ion-label>Ações</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of pageItems()">
        <ion-col class="ion-text-center" size="2">
          <ion-label>{{ item.code }}</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label class="product-label">{{ item.title }}</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-col class="icon-col">
            <ion-icon name="create-outline" color="primary" class="icons" [routerLink]="['/editar-produto', item.id]"></ion-icon>
          </ion-col>
          <ion-col class="icon-col2">
            <ion-icon name="close-circle-outline" color="primary" class="icons" (click)="deleteProduct(item.id)"></ion-icon>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="arrow-grid">
      <ion-row>
        <ion-col>
          <ion-icon *ngIf="currentPage > 1" name="chevron-back-circle" class="arrow-icons" color="secondary" (click)="prevPage()"></ion-icon>
        </ion-col>
        <ion-col size="1" *ngFor="let result of parsedResult(); index as index">
          <ion-label class="array-label" (click)="goToPage(index)" [ngClass]="{ 'active': result === currentPage }">{{ result }}</ion-label>
        </ion-col>
        <ion-col>
          <ion-icon *ngIf="currentPage > 0 && currentPage < lastResultItem()" name="chevron-forward-circle" class="arrow-icons" color="secondary" (click)="nextPage()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="exibicaoAtual === 'novoProduto'">
    <ion-row class="page-title">
      <ion-col>
        <ion-icon class="menu-button" name="menu-outline" color="primary" (click)="openMenu()"></ion-icon>
        <ion-label>Novo Produto</ion-label>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col size="3" class="input-col">
          <ion-label class="input-label">Código</ion-label>
          <ion-item class="input">
            <ion-input type="number" required="true" [(ngModel)]="product.code"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="7" class="input2-col">
          <ion-label class="input-label">Nome do produto</ion-label>
          <ion-item class="input">
            <ion-input type="string" required="true" [(ngModel)]="product.title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" class="input-col">
          <ion-label class="input-label">Descrição do produto</ion-label>
          <ion-item class="input-text">
            <ion-textarea rows="8" [(ngModel)]="product.description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="input-col">
          <ion-label class="input-label">Tamanhos disponíveis</ion-label>
          <ion-item class="input">
            <ion-input type="string" required="true" [(ngModel)]="product.availableSizes"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="checkbox-col">
          <ion-col>
            <ion-checkbox [(ngModel)]="product.isPromotional"></ion-checkbox>
          </ion-col>
          <ion-col class="checkbox-label">
            <ion-label>Produto em promoção</ion-label>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="destaq-col">
          <img class="destaq-img" src="{{ product.image1 }}">
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-input
                type="file"
                class="text-nowrap text-truncate"
                (change)="selectFileForImage1($event)"
              ></ion-input>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="currentFileUploadForImage1">
          <ion-col>
            <ion-progress-bar value="{{ percentageForImage1 }}"></ion-progress-bar>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col class="destaq-button-col">
          <ion-button class="destaq-button" color="secondary" [disabled]="!selectedFilesForImage1" (click)="uploadImage1()">
            Adicionar Imagem de Destaque
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="images-row">
        <ion-col size="4">
          <img class="images" src="{{ product.image2 }}">
        </ion-col>
        <ion-col size="4">
          <img class="images" src="{{ product.image3 }}">
        </ion-col>
        <ion-col size="4">
          <img class="images" src="{{ product.image4 }}">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-input
              type="file"
              class="text-nowrap text-truncate"
              (change)="selectFileForImage2($event)"
            ></ion-input>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-input
              type="file"
              class="text-nowrap text-truncate"
              (change)="selectFileForImage3($event)"
            ></ion-input>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-input
              type="file"
              class="text-nowrap text-truncate"
              (change)="selectFileForImage4($event)"
            ></ion-input>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" *ngIf="currentFileUploadForImage2">
          <ion-progress-bar value="{{ percentageForImage2 }}"></ion-progress-bar>
        </ion-col>
        <ion-col size="4" *ngIf="currentFileUploadForImage3">
          <ion-progress-bar value="{{ percentageForImage3 }}"></ion-progress-bar>
        </ion-col>
        <ion-col size="4" *ngIf="currentFileUploadForImage4">
          <ion-progress-bar value="{{ percentageForImage4 }}"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row class="images-button-row">
        <ion-col size="4">
          <ion-button class="images-button" color="secondary" [disabled]="!selectedFilesForImage2" (click)="uploadImage2()">Adicionar Imagem</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="images-button" color="secondary" [disabled]="!selectedFilesForImage3" (click)="uploadImage3()">Adicionar Imagem</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="images-button" color="secondary" [disabled]="!selectedFilesForImage4" (click)="uploadImage4()">Adicionar Imagem</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="buttons-row">
        <ion-col class="cancel-button-col">
          <ion-button class="cancel-button" color="secondary" fill="outline" (click)="cancelAction()">Cancelar</ion-button>
        </ion-col>
        <ion-col class="save-button-col">
          <ion-button class="save-button" color="secondary" (click)="addProduct()">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
