.page-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5vh;
    margin-left: 4vw;
}

.menu-button {
    display: none;
}

.add-button-grid {
    left: 19vw;
}

.add-button {
    text-transform: none;
    width: 15vw;
    height: 7vh;
}

.grid {
    margin-top: 4vh;
    width: 75vw;
    ion-row:first-child {
      background-color:  #FBFBFB;
      font-family: 'OpenSansRegular';
      color: #474747;
      font-weight: 600;
    }
    ion-row {
      font-family: 'Open Sans';
      color: #474747;
      font-size: 14px;
      line-height: 4.5vh;
      letter-spacing: 0.25px;
    }
    ion-col {
      background: #FBFBFB;
      border: 0.5px solid #E6E6E6;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 0.5px solid #E6E6E6;
    }
    ion-row:last-child {
      border-bottom: 0.5px solid #E6E6E6;
    }
}

.product-label {
    margin-left: 1vw;
}

.icon-col {
    margin-left: 2.5vw;
    border: none !important;
}

.icon-col2 {
    margin-left: -1vw;
    border: none !important;
}

.icons {
    width: 3vw;
    height: 3vh;
}

.arrow-grid {
    margin-top: 5vh;
    margin-left: 50vw;
    width: 40vw;
}

.arrow-icons {
    width: 7vw;
    height: 7vh;
}

.array-label {
    font-size: 18px;
}

.array-label.active {
    color: var(--ion-color-primary);
}

.input-col {
    left: 4vw;
    margin-top: 5vh;
    margin-bottom: -3vh;
}

.input2-col {
    left: 5vw;
    margin-top: 5vh;
    margin-bottom: -3vh;
}

.input {
    border-color: #E6E6E6;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.input-text {
    border-color: #E6E6E6;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.input-label {
    font-weight: 450;
}

.checkbox-col {
    left: 7vw;
    top: 3vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.checkbox-label {
    font-family: 'OpenSansRegular';
    font-weight: 450;
    top: -0.5vh;
}

.destaq-col {
    margin-top: 4vh;
    text-align: center;
}

.destaq-img {
    width: 40vw;
    height: 50vh;
}

.destaq-button-col {
    text-align: center;
}

.destaq-button {
    text-transform: none;
    font-weight: 450;
    font-size: 20px;
    width: 30vw;
    height: 9vh;
}

.images-row {
    margin-left: 6vw;
    margin-top: 8vh;
}

.images {
    width: 18vw;
    height: 30vh;
}

.images-button-col {
    margin-top: 2vh;
    text-align: center;
}

.images-button {
    text-transform: none;
    font-weight: 450;
    font-size: 20px;
    width: 20vw;
    height: 9vh;
}

.images-button-row {
    margin-left: 4.5vw;
    margin-top: 3vh;
}

.buttons-row {
    margin-top: 5vh;
}

.cancel-button-col {
    margin-left: 8vw;
}

.cancel-button {
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
    width: 26vw;
    height: 9vh;
}

.save-button-col {
    margin-left: 0vw;
}

.save-button {
    text-transform: none;
    font-weight: 450;
    font-size: 20px;
    width: 26vw;
    height: 9vh;
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

@media screen and (max-width: 768px) {
    .menu-button {
        display: flex;
        margin-top: -2vh;
        margin-bottom: 3vh;
    }

    .add-button-grid {
        margin-top: 3vh;
    }

    .add-button {
        height: 7vh;
        width: 35vw;
        margin-left: -15vw;
    }

    .grid {
        width: 85vw;
    }

    .icons {
        width: 6vw;
        height: 6vh;
    }

    .icon-col {
        margin-left: 2vw;
        border: none !important;
    }
    
    .icon-col2 {
        margin-left: 2vw;
        border: none !important;
    }

    .checkbox-col {
        top: 1vh;
    }

    .destaq-button {
        width: 90vw;
    }

    .images-button-row {
        margin-left: 0vw;
        margin-top: 3vh;
    }

    .images-button {
        text-transform: none;
        font-weight: 450;
        font-size: 12px;
        max-inline-size: 30vw;
        width: 70vw;
        height: 9vh;
    }

    .cancel-button {
        width: 35vw;
        height: 7vh;
    }

    .save-button {
        width: 35vw;
        height: 7vh;
    }
}