.product-grid {
    margin-top: 10vh;
    margin-left: 10vw;
}

.product-card {
    width: 50vw;
    height: 70vh;
}

.product-grid2 {
    display: none;
}

.product-card2 {
    display: none;
}

.product-img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.product-labels {
    margin-left: 3vw;
    margin-top: 5vh;
}

.product-row {
    margin-bottom: 5vh;
}

.product-title {
    font-size: 30px;
}

.product-label {
    font-size: 15px;
}

.product-button {
    width: 20vw;
    text-transform: none;
}

.product-button2 {
    display: none;
}

.card-grid {
    margin-left: 10vw;
    margin-bottom: 30vh;
}

.card-img {
    width: 15vw;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) { 
    .menu-col {
        margin-top: 1vh;
        margin-left: 0vw;
    }

    .toolbar-logo {
        width: auto;
        max-width: 60%;
        height: auto;
        max-height: 60%;
    }

    .divider-row {
        margin-top: -5vh;
    }

    .product-grid {
        display: none;
    }
    
    .product-card {
        display: none;
    }

    .product-grid2 {
        display: flex;
        margin-top: 1vh;
        margin-left: 6vw;
    }
    
    .product-card2 {
        display: flex;
        width: 80vw;
        height: 30vh;
    }

    .product-button {
        display: none;
    }

    .product-button2 {
        display: flex;
        width: 80vw;
        margin-left: -2vw;
        margin-bottom: 1vh;
        text-transform: none;
    }

    .infos-row {
        margin-top: -5vh;
    }

    .card-grid {
        display: none;
    }
    
    .card-img {
        height: auto;
    }

    .footer-map2 {
        display: flex;
        top: 1vh;
        left: 0vw;
        margin-bottom: 4vh;
    }
}