.product-grid {
    margin-top: 10vh;
    margin-left: 25%;
}

.product-card {
    width: 50vw;
    height: auto;
    border-radius: 0.5rem;
}

.product-img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.product-labels {
    margin-left: 3vw;
    margin-top: 5vh;
}

.product-row {
    margin-bottom: 5vh;
    max-inline-size: 50vw;
}

.product-title {
    font-size: 30px;
}

.product-label {
    font-size: 15px;
}

.product-button {
    margin-bottom: 3vh;
    width: 50vw;
    text-transform: none;
}

.card-grid {
    margin-left: 10vw;
    margin-bottom: 30vh;
}

.card-img {
    width: 15vw;
    height: auto;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    .product-grid {
        margin-top: 2vh;
        margin-left: 0%;
    }

    .product-card {
        width: 85vw;
        height: auto;
    }

    .card-img {
        width: 23vw;
        height: auto;
    }

    .product-row {
        max-inline-size: 70vw;
    }
}