.toolbar-grid {
    margin-top: 2.5vh;
}

.menu-items {
    text-align: end;
    font-size: 20px;
    font-weight: 450;
}

.menu-items:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
    transition: all 0.1s ease-out;
}

.hyperlink {
    text-decoration: none;
}

.toolbar-logo {
    width: 5vw;
    height: 10vh;
}

.searchbar-grid {
    width: 60vw;
    margin-top: 3vh;
    margin-bottom: 7vh;
}

.searchbar {
    --box-shadow: none;
    --icon-color: rgb(139, 139, 139);
    border-color: #b9b9b9;
    border-width: 0.2vw;
    border-style: solid;
    border-radius: 3px;
}

.error-label {
    text-align: center;
    font-size: 20px;
}

.category-grid {
    background-color: #dadada;
    width: 12vw;
    text-align: center;
    margin-left: 8vw;
    font-weight: 450;
    margin-top: 2vh;
}

.product-row {
    width: 70vw;
    margin-left: 5vw;
}

.product-card {
    width: 20vw;
    height: 35vh;
    border-radius: 8px;
}

.product-img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: 4vw;
}

.product-title {
    text-align: center;
}

.arrow-grid {
    margin-top: 5vh;
    margin-left: 60vw;
    width: 40vw;
}

.arrow-icons {
    width: 7vw;
    height: 7vh;
}

.array-label {
    font-size: 18px;
}

.array-label.active {
    color: var(--ion-color-primary);
}

.footer-grid {
    margin-top: 10vh;
    background-color: #f1f1f1;
    font-family: 'Segoe UI';
    color: #5e5c63;
    font-weight: 500;
}

.footer-titles {
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.footer-title {
    margin-left: 5vw;
    font-size: 24px;
}

.footer-subtitle {
    font-size: 24px;
    margin-left: 16vw;
}

.footer-info {
    margin-left: 5vw;
    font-size: 16px;
}

.logo-whatsapp {
    width: 2vw;
    height: 4vh;
    margin-left: 1vw;
}

.footer-map {
    top: -25vh;
    left: 0vw;
}

.footer-copyright {
    text-align: center;
    color: #5a595c;
    font-weight: bold;
}

.footer-hyperlink {
    text-decoration: none;
    color: #5a595c;
}
