<ion-content>
  <ion-grid class="login-grid">
    <ion-row>
      <ion-col class="logo-col">
        <img class="logo" src="../../../assets/icon/favicon.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input-col">
        <ion-label class="input-label">Login</ion-label>
        <ion-item class="input">
          <ion-input type="string" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input-col">
        <ion-label class="input-label">Senha</ion-label>
        <ion-item class="input">
          <ion-input type="password" required="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="button-col">
        <ion-button class="button">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
