<ion-app>
  <ion-split-pane contentId="main-content" class="teste">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="list">
          <ion-item lines="none">
            <ion-list-header class="title">Bem vindo, Eric</ion-list-header>
            <ion-icon slot="end" name="log-out-outline" class="logout" routerLink="/login"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-list class="list2">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/dashboard']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
              <ion-label class="label">Dashboard</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/produtos']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="albums-outline"></ion-icon>
              <ion-label class="label">Produtos</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/categorias']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="bookmarks-outline"></ion-icon>
              <ion-label class="label">Categorias</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
