<ion-content>
  <ion-toolbar>
    <ion-grid class="toolbar-grid">
      <ion-row>
        <ion-col>
          <img class="toolbar-logo" src="../.././../assets/icon/favicon.png">
        </ion-col>
        <ion-col size="0.8">
          <ion-label class="menu-items" color="primary">
            <a class="hyperlink" href="/">Home</a>
          </ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-label class="menu-items" color="primary">
            <a class="hyperlink" href="/catalogo">Catálogo</a>
          </ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-label class="menu-items" color="primary">
            <a class="hyperlink" href="/home#contato">Contato</a>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>
    </ion-grid>
  </ion-toolbar>


  <ion-grid class="searchbar-grid">
    <ion-col>
      <ion-searchbar class="searchbar" showCancelButton="focus" type="text" debounce="50" (ionChange)="filterList($event)" placeholder="Busque em nosso catálogo de produtos"></ion-searchbar>
    </ion-col>
    <ion-col>
      <ion-list *ngIf="isItemAvailable">
        <ion-item *ngFor="let item of filteredList" [routerLink]="['/product-details', item.id]">{{ item.title }}</ion-item>
    </ion-list>
    </ion-col>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title color="secondary" class="product-title">Últimos Lançamentos</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="arrow-back">
        <ion-icon name="chevron-back-circle" class="arrow-icons" color="secondary" (click)="prevProductSlide()"></ion-icon>
      </ion-col>
        <ion-slides [options]="slideOpts" class="product-slides" #productSlides>
          <ion-slide *ngFor="let item of recentProducts" [routerLink]="['/product-details', item.id]">
            <ion-col>
              <ion-card class="product-card">
                <img src="{{ item.image1 }}">
              </ion-card>
                <ion-title class="product-title">{{ item.title }}</ion-title> 
            </ion-col>
          </ion-slide>     
        </ion-slides>
      <ion-col class="arrow-forward">
        <ion-icon name="chevron-forward-circle" class="arrow-icons" color="secondary" (click)="nextProductSlide()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="promo-grid">
    <ion-row>
      <ion-col>
        <ion-title color="secondary" class="product-title">Promoções</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="arrow-back">
        <ion-icon name="chevron-back-circle" class="arrow-icons" color="secondary" (click)="prevPromoSlide()"></ion-icon>
      </ion-col>
      <ion-slides [options]="slideOpts" class="product-slides" #promoSlides>
          <ion-slide *ngFor="let item of promotionalProducts" [routerLink]="['/product-details', item.id]">
            <ion-col>
              <ion-card class="product-card">
                <img src="{{ item.image1 }}">
              </ion-card>
                <ion-title class="product-title">{{ item.title }}</ion-title> 
            </ion-col>
          </ion-slide>
      </ion-slides>
      <ion-col class="arrow-forward">
        <ion-icon name="chevron-forward-circle" class="arrow-icons" color="secondary" (click)="nextPromoSlide()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="button-grid">
    <ion-row>
      <ion-col>
        <ion-button color="secondary" class="button" href="/catalogo">Confira todo o nosso catálogo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section id="contato">
    <ion-grid class="footer-grid">
      <ion-row class="footer-titles">
        <ion-col>
          <ion-label class="footer-title">Passo Firme Calçados</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="footer-subtitle">Como chegar</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-info">
          <ion-label>contato@passofirme.com.br</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-info">
          <ion-label>(31) 3232-4242</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-info">
          <ion-label>(31) 99999-9999</ion-label>
          <ion-icon name="logo-whatsapp" class="logo-whatsapp"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-info">
          <ion-label>CNPJ 00.000.000/0001-98</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-info">
          <ion-label>Rua das Gaivotas n 22, Venda Nova</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-info">
          <ion-label>Belo Horizonte MG</ion-label>
        </ion-col>
        <ion-col class="footer-map">
          <iframe width="500" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=Rua%20das%20Gaivotas%20n%2022,%20Venda%20Nova&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="footer-copyright">
          <ion-label>
            <a class="footer-hyperlink" href="http://auditore.com.br" target="_blank">Desenvolvido por Auditore Ideias Estratégicas</a>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

</ion-content>
