.toolbar-grid {
    margin-top: 2.5vh;
}

.menu-items {
    text-align: end;
    font-size: 20px;
    font-weight: 450;
}

.menu-items:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
    transition: all 0.1s ease-out;
}

.hyperlink {
    text-decoration: none;
}

.toolbar-logo {
    width: 5vw;
    height: 10vh;
}

.searchbar-grid {
    width: 60vw;
    margin-top: 3vh;
    margin-bottom: 7vh;
}

.searchbar {
    --box-shadow: none;
    --icon-color: rgb(139, 139, 139);
    border-color: #b9b9b9;
    border-width: 0.2vw;
    border-style: solid;
    border-radius: 3px;
}

.promo-grid {
    margin-top: 20vh;
}

.product-title {
    text-align: center;
    font-weight: bold;
}

.arrow-icons {
    width: 7vw;
    height: 7vh;
}

.arrow-back {
    top: 18vh;
    left: 8vw;
}

.arrow-forward {
    top: 18vh;
    left: -2vw;
}

.product-slides {
    width: 70vw;
}

.skeleton-slides {
    width: 70vw;
    left: 1vw;
}

.product-card {
    width: 20vw;
    height: 40vh;
    border-radius: 8px;
}

.button-grid {
   margin-top: 7vh;
   width: 32vw;
}

.button {
    width: 30vw;
    height: 7vh;
    text-transform: none;
    font-size: 16px;
}

.footer-grid {
    margin-top: 10vh;
    background-color: #f1f1f1;
    font-family: 'Segoe UI';
    color: #5e5c63;
    font-weight: 500;
}

.footer-titles {
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.footer-title {
    margin-left: 5vw;
    font-size: 24px;
}

.footer-subtitle {
    font-size: 24px;
    margin-left: 16vw;
}

.footer-info {
    margin-left: 5vw;
    font-size: 16px;
}

.logo-whatsapp {
    width: 2vw;
    height: 4vh;
    margin-left: 1vw;
}

.footer-map {
    top: -25vh;
    left: 0vw;
}

.footer-copyright {
    text-align: center;
    color: #5a595c;
    font-weight: bold;
}

.footer-hyperlink {
    text-decoration: none;
    color: #5a595c;
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}