.toolbar {
    height: 15vh;
}

.toolbar-grid {
    margin-top: 2.5vh;
}

    top: 8vh;
}

.arrow-icons {
    width: 100%;
    height: 100%;
    margin-top: 1vh;
    z-index: 999;
}

.product-slides {
    width: 70vw;
}

.product-card {
    width: 100%;
    height: 40vh;
    max-height: 60vh;
    border-radius: 8px;
}

.catalog-button {
  text-transform: none;
  --border-radius: 0.5em;
  height: 3rem;
  font-family: "OpenSansRegular", Helvetica, serif;
}

:focus {
  outline: 0;
    outline-color: transparent;
    outline-style: none;
}

@media screen and (max-width: 768px) {
    .menu-col {
        margin-top: 1vh;
        margin-left: 0vw;
    }

    .toolbar-logo {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    .divider-row {
        margin-top: -5vh;
    }

    .searchbar-grid {
        width: 90vw;
    }

    .product-card {
        width: 60vw;
        height: 20vh;
        border-radius: 8px;
    }

    //Mobile section
    .arrow-back {
        display: none;
    }

    .arrow-forward {
        display: none;
    }

    .arrow-back2 {
        display: flex;
        top: 18vh;
        left: 8vw;
    }

    .arrow-forward2 {
        display: flex;
        top: 18vh;
        left: -2vw;
    }

    .skeleton-slides {
        display: none;
    }

    .skeleton-slides2 {
        display: flex;
        width: 70vw;
        left: 1vw;
    }

        left: -1vw;
    }
}
