.page-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5vh;
    margin-left: 4vw;
}

.input-col {
    left: 4vw;
    margin-top: 5vh;
    margin-bottom: -3vh;
}
.input2-col {
    left: 5vw;
    margin-top: 5vh;
    margin-bottom: -3vh;
}

.input {
    border-color: #E6E6E6;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.input-text {
    border-color: #E6E6E6;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.input-label {
    font-weight: 450;
}

.checkbox-col {
    left: 7vw;
    top: 3vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.checkbox-label {
    font-family: 'OpenSansRegular';
    font-weight: 450;
    top: -0.5vh;
}

.destaq-col {
    margin-top: 4vh;
    text-align: center;
}

.destaq-img {
    width: 40vw;
    height: 50vh;
}

.destaq-button-col {
    text-align: center;
}

.destaq-button {
    text-transform: none;
    font-weight: 450;
    font-size: 20px;
    width: 30vw;
    height: 9vh;
}

.images-row {
    margin-left: 6vw;
    margin-top: 8vh;
}

.images-button-row {
    margin-left: 5vw;
    margin-top: 3vh;
}

.images {
    width: 18vw;
    height: 30vh;
}

.images-button {
    text-transform: none;
    font-weight: 450;
    font-size: 20px;
    width: 20vw;
    height: 9vh;
}

.buttons-row {
    margin-top: 5vh;
}

.cancel-button-col {
    margin-left: 8vw;
}

.cancel-button {
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
    width: 26vw;
    height: 9vh;
}

.save-button-col {
    margin-left: 0vw;
}

.save-button {
    text-transform: none;
    font-weight: 450;
    font-size: 20px;
    width: 26vw;
    height: 9vh;
}

@media screen and (max-width: 768px) { 
    .checkbox-col {
        top: 1vh;
    }

    .destaq-button {
        width: 90vw;
    }

    .images-button-row {
        margin-left: 0vw;
        margin-top: 3vh;
    }

    .images-button {
        text-transform: none;
        font-weight: 450;
        font-size: 12px;
        max-inline-size: 30vw;
        width: 70vw;
        height: 9vh;
    }

    .cancel-button {
        width: 35vw;
        height: 7vh;
    }

    .save-button {
        width: 35vw;
        height: 7vh;
    }
}